{% extends 'base/layout.html' %}

{% block content %}
<section>
    <div class="jumbotron ">
        <div class="container">
            <h1>Do you really know music?</h1>
            <p>Test your knowledge about music with our quiz.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/quiz">Play Now!</a>
            </p>
        </div>
    </div>
</section>
<section class="quizes container">
    {% if quizes < 1 %}
    {% set quizes = [1, 2, 3, 4, 5, 6] %}
    {% endif %}
    <div class="row">
    {% for quiz in quizes %}
        <div class="col-lg-4">
            <h2>Quiz 1</h2>
            <p class="description">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p class="link"><a href="/quiz/1" class="btn btn-primary">Play now!</a></p>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}