{% extends 'base/layout.html' %}

{% block content %}
<section>
    <div class="jumbotron ">
        <div class="container">
            <h1>Do you really know music?</h1>
            <p>Test your knowledge about music with our quiz.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/quiz">See all</a>
            </p>
        </div>
    </div>
</section>
<section class="quizzes container">
    <div class="row">
    {% for quiz in quizzes %}
        <div class="col-lg-4">
            <h2>{{ quiz.name }}</h2>
            <p class="description">{{ quiz.description }}</p>
            <p class="link"><a href="/quiz/{{ quiz.id }}" class="btn btn-primary">Play now!</a></p>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}