<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Question</h1>
        </div>
        <div class="col-md-4 playing-quiz">
            <p class="text-muted text-right">Playing quiz: <em>{{ quiz.name }}</em> | Level: <em>{{ quiz.dificulty }}</em></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 answers" id="answers">
            <p class="lead">{{ question.text }}</p>
            <table class="table">
                <tbody>
                    {% for answer in answers %}
                        <tr class="answer answer-click" data-answer-id="{{ answer.id }}">
                            <td><p><strong>{{ loop.index }}</strong></p></td>
                            <td>{{ answer.text }}</td>
                        </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 msg-response"></div>
    </div>
</div>