<div>
    <div class="container">
        <p class="text-muted text-right">Playing quiz: {{ quiz.name }} | Level: {{ quiz.dificulty }}</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <p>{{ question.text }}</p>
        <table class="table">
            <tbody>
                {% for answer in answers %}
                    <tr class="answer" data-answer-id="{{ answer.id }}">
                        <td><p><strong>{{ loop.index }}</strong></p></td>
                        <td>{{ answer.text }}</td>
                    </tr>                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>